<!DOCTYPE html>

<html>

<head>
  <title>Screenshot Images Diff Roport%></title>
</head>

<body>
  <ul>
  <% for (var i = 0; i < screenshots.length; i++) { %> 
    <li>
      <h1><%= screenshots[i].description %></h1>
      <img src="<%= screenshots[i].image_a %>"></img>
      <% if(screenshots[i].image_b) { %>
        <img src="<%= screenshots[i].image_b %>"></img>
      <% } %>
      <% if(screenshots[i].image_diff) { %>
        <img src="<%= screenshots[i].image_diff %>"></img>
      <% } %>
    </li>
  <% } %>
  </ul>
</body>

</html>
