<!DOCTYPE html>

<html>

<head>
  <title>Screenshot Images Roport</title>
</head>

<body>
  <ul>
  <% for (var i = 0; i < screenshots.length; i++) { %> 
    <li>
      <h1><%= screenshots[i].description %></h1>
      <img src="<%= screenshots[i].image %>"></img>
    </li>
  <% } %>
  </ul>
</body>

</html>
